{% extends 'base.html' %}
   {% block title %}忘記密碼{% endblock %}
   {% block content %}
   <div class="container mt-5">
       <div class="row justify-content-center">
           <div class="col-md-6">
               <div class="card text-center">
                   <div class="card-header">
                       <h3>請檢查你的信箱</h3>
                   </div>
                   <div class="card-body">
                       <p>如果你的電子郵件地址存在於系統中，我們已經發送了一封包含密碼重設連結的電子郵件。</p>
                       <a href="{% url 'login' %}" class="btn btn-primary mt-3">返回登入頁面</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
   {% endblock %}