body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #333;
}
p {
    color: #333333;
    font-size: 18px;
}
.login_form {
    max-width: 300px; /* 設置表單的寬度 */
    margin: 0 auto; /* 將表單置中 */
    font-family: Arial, sans-serif; /* 字體 */
}
.form_input{
    width:100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
    
img.profile-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    image-rendering: smooth; /* 可選，嘗試此屬性來改善加載過程 */
}

/* 按鈕 */
.button-bu {
    background-color: #37BCD8;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button-bu:hover {
    background-color: #2AA4BF;
}

/* container================================================================================= */
.container1 {
    background-color: #FFFFFF;
    border: none;
}

.container2 {
    background-color: #F5F8FF;
    border: none;
}

.container3 {
    background-color: #1E2025;
    border: none;
    color: #ffffff;
}
.container3 p{
    color:  #d1d1d1;
}