{% extends 'base.html' %}

{% block title %}比特幣指標首頁{% endblock %}

{% block content %}
<style>
    .nav-link {
    color: #007bff; /* 或其他你想要的顏色 */
}

    .nav-link:hover {
        color: #0056b3; /* 當鼠標懸停時的顏色 */
    }
</style>
<h1>比特幣指標</h1>
<!-- 添加連結到圖表頁面 -->
<a href="{% url 'metric_chart' %}" class="nav-link">圖表</a>


<table>
    <thead>
        <tr>
            <th>指標名稱</th>
            <th>單位</th>
            <th>時間範圍</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        {% for metric in metrics %}
        <tr>
            <td>{{ metric.name }}</td>
            <td>{{ metric.unit }}</td>
            <td>{{ metric.period }}</td>
            <td>{{ metric.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
