{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3>密碼重設成功</h3>
                </div>
                <div class="card-body">
                    <p>你的密碼已成功更新，現在可以使用新密碼登入。</p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-3">前往登入</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
