<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AI幣市通{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 加載 CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <header class="text-white py-1" id = "header1">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Logo -->
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <img src="{% static 'images/crypto.png' %}" alt="Logo" style="width: auto; height: 75px;">
                <span class="ms-2 fw-bold">AI幣市通</span>
            </a>

            <!-- Navigation Links -->
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{% url 'crypto_list' %}" class="nav-link text-white">貨幣列表</a>
                    </li>
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" id="btn1" data-bs-toggle="dropdown" aria-expanded="false" onclick="window.location.href='{% url 'news_home' %}'">
                            外部資訊
                        </button>
                        <ul class="dropdown-menu custom-dropdown">
                            <li class="nav-item">
                                <a href="{% url 'search_news_page' %}" class="nav-link1 dropdown-item">🔍 進階新聞搜尋</a>
                                <a href="{% url 'news_list' %}" class="nav-link1 dropdown-item">📰 新聞</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" id="btn1" data-bs-toggle="dropdown" aria-expanded="false" onclick="window.location.href='{% url 'other_home' %}'">
                            經濟指標
                        </button>
                        <ul class="dropdown-menu custom-dropdown">
                            <li class="nav-item">
                                <a href="{% url 'finance_chart' %}" class="nav-link1 dropdown-item">
                                    <i class="fa-solid fa-money-bill-trend-up"></i> 金融指標
                                </a>
                                <a href="{% url 'macro_chart' %}" class="nav-link1 dropdown-item">
                                    <i class="fa-solid fa-chart-line"></i> 宏觀經濟指標
                                </a>
                                <a href="{% url 'metric_chart' %}" class="nav-link1 dropdown-item">
                                    <i class="fa-brands fa-bitcoin"></i> 加密貨幣指標
                                </a>
                            </li>
                        </ul>
                        
                        <!-- 引入 Font Awesome 圖示庫 -->
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
                        
                      </div>
                        <li class="nav-item">
                            <a href="{% url 'chat' %}" class="nav-link text-white">AI Agent</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'agent:questionnaire_list' %}" class="nav-link text-white">問卷</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'weekly_report_list' %}" class="nav-link text-white">AI週報</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'agent:invest_view' %}" class="nav-link text-white">策略參考</a>
                        </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'administrator:administrator_dashboard' %}" class="nav-link text-white">進入後台</a>
                        </li>
                    {% endif %}
                </ul>  
            </nav>
            {% if user.profile.membership == 'free' %}
            <a href="{% url 'membership_plans' %}" class="button-ui1"><div><span>消除廣告</span></div></a>
            {% endif %}
            <!-- User Authentication -->
            <div>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <!-- 按鈕觸發下拉選單 -->
                    <button class="btn btn-outline-light btn-sm dropdown-toggle d-flex align-items-center custom-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill me-1" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </button>
                
                    <!-- 下拉選單 -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark user-dropdown" style = "width: 215px;">
                        <!-- 頭像 + 使用者名稱 -->
                        <li class="dropdown-header text-center">
                            <img src="{{ user.profile.profile_image.url }}" class="profile-image">
                            <div class="username">
                                歡迎! {{ user.first_name }} <br>
                                會員等級: {{ user.profile.membership|title }}
                            </div>                        </li>
                        <li><hr class="dropdown-divider"></li>
                
                        <!-- 功能按鈕 -->
                        <li class="button-container">
                            <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm">登出</a>
                            <a href="{% url 'favorite_coins' %}" class="btn btn-outline-light btn-sm">我的最愛</a>
                            <a href="{% url 'user_profile' %}" class="btn btn-outline-light btn-sm">修改個人資料</a>
                            {% if user.profile.membership == 'free' %}
                            <a href="{% url 'membership_plans' %}" class="button-bu">加入會員</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                    
                {% else %}
                <div class="dropdown">
                    <!-- 按鈕觸發下拉選單 -->
                    <button class="btn btn-outline-light btn-sm dropdown-toggle d-flex align-items-center custom-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill me-1" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </button>
                
                    <!-- 下拉選單 -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark custom-dropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'login' %}">
                                <i class="fa-solid fa-right-to-bracket"></i> 登入
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'register' %}">
                                <i class="fa-solid fa-user-plus"></i> 註冊
                            </a>
                        </li>
                    </ul>
                </div>
                
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% load tz %}
        {% timezone "Asia/Taipei" %}
            {% block main %}
            <div class="container mt-4">
                {% block content %} 
                <!-- 預設內容區塊 -->
                {% endblock %}
            </div>
            {% endblock %}
        {% endtimezone %}
    </main>

    <!-- Footer -->
    {% include 'footer.html' %}
    {% include "chatbot/chat.html" %}
    {% include "track_impression.html" %}

</body>
</html>
