{% extends 'base.html' %}

{% block title %}機器學習{% endblock %}

{% block content %}


<h1>{{ data_location.name }} 詳細資料</h1>
<form method="post" action="{% url 'run_program' data_location.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">執行程式</button>
</form>
<ul>
    <li><strong>使用者:</strong> {{ data_location.user.username }}</li>
    <li><strong>創建時間:</strong> {{ data_location.created_at }}</li>
</ul>

<p>下載結果:</p>
<div>{{ chart_html|safe }}</div>

<a href="{% url 'ml_home' %}">
    <button>返回列表</button>
</a>


{% endblock %}