/* 全域卡片樣式 */
.card {
    max-width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

#c2{
    background-color: #F5F8FF;
}

#c3{
    background-color: #E0E8F8;
}

/* 卡片內部佈局 */
.card .row {
    display: flex;
    align-items: center;
}



.card-body {
    padding: 20px;
}

.card-body h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.card-body p {
    color: #666;
    margin: 5px 0 15px;
    font-size: 1rem;
}

.card-body a.p1 {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.card-body a.p1:hover {
    background-color: #0056b3;
}

/* 自訂顏色樣式 */
.card-dark {
    background-color: #333;
    color: #fff;
}

.card-dark .card-body h2 {
    color: #fff;
}

.card-dark .card-body a.p1 {
    background-color: #555;
}

.card-dark .card-body a.p1:hover {
    background-color: #777;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .card .row {
        flex-direction: column;
    }

    .card img {
        border-radius: 15px 15px 0 0;
    }

    .card-body {
        text-align: center;
    }
}


.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #31A7C4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    display: none; /* 預設不顯示 */
    transition: all 0.3s ease-in-out;
}

.back-to-top:hover {
    background-color: #2589A3;
    transform: scale(1.1);
}