{% extends "base.html" %}
{% block title %}AI幣市通{% endblock %}
{% load static %}

{% block main %}
    {% load humanize %}
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
        {% include "Advertising.html" %}
    <div class="carousel">
        <svg class = "svg1" width="600" height="300">
            <defs>
                <!-- 定義線性漸變 -->
                <linearGradient id="pathGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0%" stop-color="#87CEFA" stop-opacity="1" />
                    <stop offset="100%" stop-color="#87CEFA" stop-opacity="0" />
                </linearGradient>
            </defs>
            <!-- 管道形狀 -->
            <path id="motionPath" 
                d="M 20 50 
                    H 300
                    A 150 150 0 0 1 450 200
                    V 700
                    "  
                  stroke="url(#pathGradient)" stroke-width="150" fill="none">
            </path>
    
            <!-- 球體 -->
            <circle id="ball" cx="150" cy="600" r="60" fill="#6495ed"></circle>
        </svg>
        <div class="card-head">
            <h2 style = "color: white;">歡迎來到虛擬貨幣分析平台</h2>
            <p style = "color: white;">即時更新的加密貨幣價格與市場數據，助您做出明智的決策。</p>
        </div>
    
        <div class="card_invent-container">
            <div class="card_invent">
                <div class="card_invent-inner">
                    <div class="card_invent-face card_invent-front">
                        <img src="{% static 'images/btc-1.png' %}" class="btc" alt="">
                        <h3>貨幣資料</h3>
                        <p>歷史數據</p>
                        <a href="{% url 'crypto_list' %}"><button class="arrow-btn">→</button></a>
                    </div>
                    <div class="card_invent-face card_invent-back">
                        <h2>市場統計</h2>
                        <p><strong>總市值 (USD):</strong> <span id="total_market_cap">載入中...</span></p>
                        <p><strong>24 小時交易量 (USD):</strong> <span id="total_24h_volume">載入中...</span></p>
                        <p><strong>市占率:</strong> <span id="btc_dominance">載入中...</span> | <span id="eth_dominance">載入中...</span> | <span id="other_dominance">載入中...</span></p>
                    </div>
                </div>
            </div>
    
            <div class="card_invent">
                <div class="card_invent-inner">
                    <div class="card_invent-face card_invent-front">
                        <img src="{% static 'images/news.png' %}" class="new" alt="">
                        <h2>外部資訊</h2>
                        <p>新聞資訊</p>
                        <a href="{% url 'news_home' %}"><button class="arrow-btn">→</button></a>
                    </div>
                    <div class="card_invent-face card_invent-back">
                        <h3>加密市場動態</h3>
                        <ul class = "ul">
                            <li>即時新聞</li>
                            <li>重要事件</li>
                            <li>市場趨勢變化</li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="card_invent">
                <div class="card_invent-inner">
                    <div class="card_invent-face card_invent-front">
                        <img src="{% static 'images/pointer.png' %}" class="point" alt="">
                        <h3>經濟指標</h3>
                        <p>投資工具</p>
                        <a href="{% url 'other_home' %}"><button class="arrow-btn">→</button></a>
                    </div>
                    <div class="card_invent-face card_invent-back">
                        <h3>關鍵經濟指標</h3>
                        <ul class = "ul">
                            <li>提升決策精準度</li>
                            <li>降低投資風險</li>
                            <li>全面市場分析</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1>熱門加密貨幣</h1>

    <div class="button-container">
        <button onclick="showContent('info1')" class = "button">主流幣</button>
        <button onclick="showContent('info2')" class = "button">漲幅榜</button>
        <button onclick="showContent('info3')" class = "button">跌幅榜</button>
        <button onclick="showContent('info4')" class = "button">24h成交量</button>
    </div>
    
    <div class="card-coin mb-3 active" id="info1" style="max-width: 60%;">
        
        <div class="row g-0">
            {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
            {% else %}
            <table class="table table-bordered table-hover">
                {% include 'table_header.html' %}
                <tbody>
                    {% for price in top_coins %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'crypto_detail' price.pk %}">
                                    <img src="{{ price.coin.logo_url }}" alt="logo" class="coin-logo"><br>{{ price.coin.coinname }}
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.usd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.twd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.jpy|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.eur|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.volume_24h|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if price.change_24h > 0 %}
                                    <span style="color: red;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% elif price.change_24h < 0 %}
                                    <span style="color: green;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% else %}
                                    <span style="color: black;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.timestamp }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <a data-testid="Web_NewHomePage_HotCrypto_More" href="{% url 'crypto_list' %}" class="sc-8bd51ba2-2 RBQIy" id = "a">探索更多</a>
    </div>

    <div class="card-coin mb-3" id="info2" style="max-width: 60%;">
        
        <div class="row g-0">
            {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
            {% else %}
            <table class="table table-bordered table-hover">
                {% include 'table_header.html' %}
                <tbody>
                    {% for price in increase_coins %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'crypto_detail' price.pk %}">
                                    <img src="{{ price.coin.logo_url }}" alt="logo" class="coin-logo"><br>{{ price.coin.coinname }}
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.usd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.twd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.jpy|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.eur|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.volume_24h|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if price.change_24h > 0 %}
                                    <span style="color: red;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% elif price.change_24h < 0 %}
                                    <span style="color: green;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% else %}
                                    <span style="color: black;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.timestamp }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <a data-testid="Web_NewHomePage_HotCrypto_More" href="{% url 'crypto_list' %}" class="sc-8bd51ba2-2 RBQIy" id = "a">探索更多</a>
    </div>

    <div class="card-coin mb-3" id="info3" style="max-width: 60%;">
        
        <div class="row g-0">
            {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
            {% else %}
            <table class="table table-bordered table-hover">
                {% include 'table_header.html' %}
                <tbody>
                    {% for price in decline_coins %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'crypto_detail' price.pk %}">
                                    <img src="{{ price.coin.logo_url }}" alt="logo" class="coin-logo"><br>{{ price.coin.coinname }}
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.usd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.twd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.jpy|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.eur|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.volume_24h|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if price.change_24h > 0 %}
                                    <span style="color: red;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% elif price.change_24h < 0 %}
                                    <span style="color: green;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% else %}
                                    <span style="color: black;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.timestamp }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <a data-testid="Web_NewHomePage_HotCrypto_More" href="{% url 'crypto_list' %}" class="sc-8bd51ba2-2 RBQIy" id = "a">探索更多</a>
    </div>

    <div class="card-coin mb-3" id="info4" style="max-width: 60%;">
        
        <div class="row g-0">
            {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
            {% else %}
            <table class="table table-bordered table-hover">
                {% include 'table_header.html' %}
                <tbody>
                    {% for price in volume %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'crypto_detail' price.pk %}">
                                    <img src="{{ price.coin.logo_url }}" alt="logo" class="coin-logo"><br>{{ price.coin.coinname }}
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.usd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.twd|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.jpy|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.eur|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.volume_24h|floatformat:2|intcomma }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if price.change_24h > 0 %}
                                    <span style="color: red;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% elif price.change_24h < 0 %}
                                    <span style="color: green;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% else %}
                                    <span style="color: black;">{{ price.change_24h|floatformat:2 }}%</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ price.timestamp }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <a data-testid="Web_NewHomePage_HotCrypto_More" href="{% url 'crypto_list' %}" class="sc-8bd51ba2-2 RBQIy" id = "a">探索更多</a>
    </div>

    <div class="container-home">
        <div class="left">
            <div class="signin-card">
              <h2>🎁 每日簽到</h2>
                {% if sign_in_record %}
                
                    <p>今天日期：{{ today }}</p>
                    <p>上次簽到：{{ sign_in_record.last_sign_in_date }}</p>
                    <p>連續簽到天數：{{ sign_in_record.consecutive_sign_in_count }}</p>
                    <p>總簽到次數：{{ sign_in_record.sign_in_count }}</p>

                {% if sign_in_record.last_sign_in_date == today %}
                    <p class="text-success">✅ 今天已簽到</p>
                {% else %}
                    <p class="text-danger">❌ 今天尚未簽到</p>
                {% endif %}
                
                {% else %}
                    <p>尚未有簽到紀錄。</p>
                {% endif %}
                <div class="progress-bar">
                    <div class="progress" style="height: 100%; width: {{ progress_percentage }}%; background-color: #4caf50; transition: width 0.5s;"></div>
                </div>
                
                {% if user.signin.last_sign_in_date != today %}
                        <form action="{% url 'sign_in' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="signin-btn">立即簽到</button>
                        </form>
                {% endif %}
              
            </div>
          </div>
        
        <div class="carousel1">
            <h1>投資比特幣，幾分鐘就能開啟未來！</h1>
            <p style = "text-align: center;">按照以下簡單步驟，立即註冊並開始您的比特幣投資之旅。</p>
    
            <ol class="rounded-list">
                <li class="li">
                    <h3 class="step-title">註冊成為會員</h3> 
                    <span class="step-description">
                        在我們的網站上註冊一個帳戶，並填寫基本資料以完成註冊。
                    </span>
                </li>
                <li class="li">
                    <h3 class="step-title">瀏覽幣種基本資料</h3> 
                    <span class="step-description">
                        提供超過 500 種加密貨幣的完整資訊，幫助您快速掌握市場概況。
                    </span>
                </li>
                <li class="li">
                    <h3 class="step-title">完成投資建議問卷</h3> 
                    <span class="step-description">
                        透過簡單問卷，AI 會根據您的風險偏好與投資目標，給出專屬投資建議。
                    </span>
                </li>
                <li class="li fourth-step">
                    <h3 class="step-title">與 AI 機器人互動</h3> 
                    <span class="step-description">
                        隨時向 AI 機器人提問，獲得即時的幣種資訊與投資方向參考。
                    </span>

            </div>
        </div>
    </div>

    
    
    <div class="carousel2">
        
        <div id="animation-container">
            <h1 style = "color: white; padding-top: 10px;">開啟您的<br>財富無限宇宙</h1>
            <a href="{% url 'register' %}">
                <button class="register">
                    立即註冊
                    <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <path
                        fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                        clip-rule="evenodd"
                    ></path>
                    </svg>
                </button>
            </a>
            
            <!-- 左下角管道 -->
            <svg id="leftPipe" viewBox="0 0 800 600">
                <path id="leftPath" 
                    d="M 0 350 
                       H 250 
                       A 100 100 0 0 1 350 450 
                       V 600" 
                    stroke="#3b82f6" 
                    stroke-width="100" 
                    fill="none" 
                    stroke-linecap="round"></path>
                <circle id="ballLeft" cx="0" cy="350" r="40" fill="#93c5fd"></circle>
            </svg>
        
            <!-- 右上角管道 -->
            <svg id="rightPipe" viewBox="0 0 800 600">
                <path id="rightPath" 
                    d="M 800 250 
                       H 550 
                       A 100 100 0 0 1 450 150 
                       V 0" 
                    stroke="#3b82f6" 
                    stroke-width="100" 
                    fill="none" 
                    stroke-linecap="round"></path>
                <circle id="ballRight" cx="800" cy="250" r="40" fill="#93c5fd"></circle>
            </svg>
            
            <svg id = "pipe" width="200" height="300" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <image href="{% static 'images/crypto.png' %}" x="65" y="100" width="100" height="100" class="moving-image"/>

                <!-- 水管主體 (放在最上層，蓋住圖片) -->
                <rect x="65" y="50" width="100" height="200" fill="rgb(33, 107, 246)" stroke-width="4" />
            
                <!-- 水管開口 (放在最底層) -->
                <rect x="50" y="30" width="130" height="50" fill="rgb(70, 115, 241)" stroke-width="4" />
                
            </svg>
        </div>
    </div>
    <button id="backToTop" class="back-to-top">▲ 回到頂部</button>

    <script src = "{% static 'js/home.js' %}"></script>
{% endblock %}

