<thead class="table-light">
    <tr>
        <th style="width: 10%; text-align: center; vertical-align: middle;">
            幣種名稱 
        </th>
        <th style="width: 10%; text-align: center; vertical-align: middle;">
            USD
        </th>
        <th style="width: 10%; text-align: center; vertical-align: middle;">
            TWD
        </th>
        <th style="width: 10%; text-align: center; vertical-align: middle;">
            JPY
        </th>
        <th style="width: 10%; text-align: center; vertical-align: middle;">
            EUR
        </th>
        <th style="width: 15%; text-align: center; vertical-align: middle;">
            24小時交易量 
        </th>
        <th style="width: 10%; text-align: center; vertical-align: middle;">
            24小時變動
        </th>
        <th style="width: 15%; text-align: center; vertical-align: middle;">
            時間戳
        </th>
    </tr>
</thead>